 /*CSS for my body*/
 body{
    background-image: url("static/stainless_steel.jpg");
    background-size:cover;
}
/*CSS for div1*/
#div1 {
    
    border: solid silver;
    border-radius: 20px;
    width: 700px;
    height: 700px;
    background-color: black;
    padding: 7px;
    margin-left: 300px;
}
/*CSS for div2*/
#div2 {
    float:left;
    color: white;
    font-size: 18px;
}
/*CSS for div3*/
#div3 {
    float:right;
    background-color: black;
    height: 500px;
    width: 370px;
    margin-right: 10px;
}

/*CSS for my clock*/
#clocky {
    font-size: 60px;
    font-family:'Courier New', Courier, monospace
    text-align: center;
    color: white;
}

.miniScreen {
    border-radius: 20px;
    width: 300px;
    height: 200px;
    background-color: black;
    float: left;
    margin: 5px;
}
.miniScreenAlign {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.weather {
    align-items: center;
    justify-content: center;
    display: flex;
}
.weather img {
    border-radius: 20px;
}
.openButton {
    background-color: green;
    color: yellow;
    width: 70px;
    height: 50px;
    border-radius: 30px;
}
.onOffButton {
    margin-left: 630px;
    height: 50px;
    border-radius: 30px;
}
.appButtons {
    border-radius: 5px;
    background-color: blueviolet;
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    width:100px;
    padding 10px
}

#temperature {
    display: none; 
    color: white; 
    font-size: 24px; 
    margin-top: 20px;
}

#timer {
    color: white;
    font-size: 24px;
    margin-top: 20px;
}